<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" id="css-main" href="/assets/css/codebase.min-5.4.css">
    <title>404 - 页面不存在</title>
</head>

<body>
    <div id="page-container" class="main-content-boxed">
        <main id="main-container">
            <div class="hero bg-body-extra-light">
                <div class="hero-inner">
                    <div class="content content-full">
                        <div class="py-4 text-center">
                            <div class="display-1 fw-bold text-danger">
                                <i class="fa fa-exclamation-triangle opacity-50 me-1"></i> 404 Not Found
                            </div>
                            <h1 class="fw-bold mt-5 mb-2">页面不存在</h1>
                            <h2 class="fs-4 fw-medium text-muted mb-5">哎呀...你仿佛来到一个未知的页面! 不过别担心, 点击 返回首页 即可让你回到正确的页面
                            </h2>
                            <a class="btn btn-lg btn-alt-secondary" href="/">
                                <i class="fa fa-arrow-left opacity-50 me-1"></i> 返回首页
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="/assets/js/codebase.app.min-5.4.js"></script>

</body>

</html>